/node_modules
/public/hot
/public/storage
/public/public.zip
/public/vendor.zip
/storage/*.key
storage.zip
/vendor
vendor.zip
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
playground.js
bootstrap.zip